<div class=" rounded-3 bg-success bg-opacity-25" style="background-color: rgb(188, 216, 172)">
      <div class="row d-flex flex-sm-row flex-column justify-content-between px-5">
            <div class=" h-100 col-sm-3 d-flex flex-column justify-content-center">
                  <span class=" text-center mb-1"><i
                              class="fa-solid fa-circle-info me-2  text-success fs-6 fa-fade "></i> </span>
                  <span class="fst-italic text-dark">Masum Khan</span>
                  <span class="fst-italic text-dark">Full Stack Developer (MERN, PERN)</span>
                  <img src="../resources/mk-1.jpg" height="100px" class="rounded-circle" />
            </div>
            <div class="col-sm-4 d-flex flex-column text-start fst-italic">
                  <span class=" text-success mb-1 mb-1 text-center"><i
                              class="fa-solid fa-address-book fa-fade fs-6 me-1"></i></span>
                  <span class="text-dark  "><i class="fa-solid fa-phone  text-success me-2"></i>01833347848</span>
                  <span class="text-dark  "><i
                              class="fa-solid fa-envelope  text-success me-2"></i>study.contents.of.masumkhan@gmail.com</span>
                  <a class="text-decoration-none text-dark  " href="https://www.linkedin.com/in/masumkhan"><i
                              class="fa-brands fa-linkedin  text-success me-2"></i>linkedin.com/in/masumkhan</a>
                  <a class="text-decoration-none text-dark  " href="https://github.com/masumkhan081?tab=repositories"
                        target="_blank"><i class="fa-brands fa-github  text-success me-2"></i>Repositories</a>
                  <a class="text-decoration-none text-dark  " href="https://www.instagram.com/masumkhan081">
                        <i class="fa-brands fa-square-facebook  text-success me-2"></i>facebook.com/fanofnietzsche </a>
                  <a class="text-decoration-none text-dark  " href="https://twitter.com/MasumKhan081"><i
                              class="fa-brands fa-twitter  text-success me-2"></i>twitter.com/masumkhan081</a>
            </div>
            <div class="col-sm-3 d-flex flex-column text-start fst-italic">
                  <span class="badge  text-success mb-1 ">Other Projects</span>
                  <span class=" text-success">Portfolio <i class="fa-solid fa-globe me-1"></i><a
                              class="text-decoration-none  text-primary " target="_blank"
                              href="https://masumk081.web.app">masumk081.web.app</a></span>
                  <a class="text-decoration-none  text-primary mt-sm-2" href="https://drugs-info.onrender.com"><i
                              class="fa-solid fa-1 fa-shake  text-success mx-2"
                              style="--fa-animation-duration: 2s"></i>drugs info </a>
                  <a class="text-decoration-none  text-primary " href="resume-builder-081.netlify.app"><i
                              class="fa-solid fa-2 fa-shake  text-success mx-2"
                              style="--fa-animation-duration: 2s"></i>resume-builder </a>
                  <a class="text-decoration-none  text-primary " href="https://task-collaborator.onrender.com"><i
                              class="fa-solid fa-3 fa-shake  text-success mx-2"
                              style="--fa-animation-duration: 2s"></i>task-collaborator</a>
                  <a class="text-decoration-none  text-primary " href="https://reg-sys-passport.onrender.com"><i
                              class="fa-solid fa-4 fa-shake  text-success mx-2"
                              style="--fa-animation-duration: 2s"></i>reg-sys-passport</a>
            </div>
      </div>
</div>
