<div id="dlt-modal" class="modal mt-5 rounded  ">
   <div class="modal-dialog " role="document ">
            <div class="modal-content bg-light">
                <div class="modal-body py-4 rounded-3 bg-warning bg-opacity-10">
                <form action="/drugs/dlt" method="DELETE">
                    <input hidden type="text" id="dlt_drgid" value="" name="drgid" />
                    <span class="badge text-success fst-italic d-block mb-4 pb-1 text-center border-0 border-bottom rounded-pill">Sure About
                            Deletion ? </span>
                      <button type="submit" class=" fw-bold fst-italic mb-3 btn btn-sm btn-warning w-25 rounded ">Delete</button>
                    </form>
                    <button onclick="document.getElementById('dlt-modal').style.display='none'" class="fw-bold fst-italic btn btn-sm btn-outline-dark w-25 rounded "> Cancel </button></div>
             </div>
        </div>
    </div>
</div>
