<div class="container-fluid row mt-sm-4 mt-1" style="min-height: 480px;">
      <!--start col-1 -->
      <div class="col-md-4 d-flex flex-column gap-sm-5">
            <div>
                  <span class="rounded  text-center d-block w-100  pb-1 h5" style="color:rgb(131, 98, 54)">
                        <i class="fas fa-th-list"></i> Whats Been Used: </span>
                  <ul class="mt-sm-3 mt-1  list-unstyled d-flex flex-column gap-sm-3 gap-1 text-wrap"
                        style="color:rgb(119, 88, 48);font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                        <li class="text-center rounded bg-info bg-opacity-10">postgreSQL (pg), ElephantSQL </li>
                        <span class="text-center rounded bg-primary bg-opacity-10">Express, Joi, ejs </span>
                        <span class="text-center rounded bg-white bg-opacity-50">Nodemailer</span>
                        <span class="text-center rounded bg-dark bg-opacity-10">Passport</span>
                        <span class="text-center rounded bg-danger bg-opacity-10">json-web-token</span>
                        <span class="text-center rounded bg-warning bg-opacity-10">Booststrap</span>
                  </ul>
            </div>
            <div>
                  <%if(auth_status=="null"){%>
                        <span>Go To<a href="/auth/signin" class="mx-1 text-decoration-none">Sign In</a>Page</span>
                        <%} %>
            </div>
      </div>
      <!--start col-2 -->
      <div class="col-md-8 ">
            <span class="rounded  text-center d-block w-100 pb-1 h5" style="color:rgb(131, 98, 54)">
                  <i class="fas fa-hand-point-right"></i> Read Me </span>
            <ul class="mt-sm-3 mt-1 d-flex flex-column gap-1 text-wrap text-start ps-4 align-content-between list-unstyled">
                  <li>
                  <li class="rounded"><strong class="badge text-dark" style="font-size:14px   ;background-color:rgb(209, 172, 124)">Objectives: </strong></li>
                  <ul>
                        <li>Implementation of a task deistribution system for soft. developers </li>
                  </ul>
                  </li>
                  <li>
                  <li>
                         <li class="rounded"><strong class="badge text-dark" style="font-size:14px   ;background-color:rgb(209, 172, 124)">Brief: </strong></li>

                  <ul>
                        <li>Accounts with 3 different roles: admin, team-leader/project manager, developer</li>
                        <li>Admin can add/remove a team leader via email invitation link (jwt)</li>
                        <li>Team-leader/project manager can add/remove a team-member/developer in the same way</li>
                        <li>A Team-leader will assign a task or withdraw for his team member</li>
                        <li>Admin will assign a task or withdraw for any team leader/project manager</li>
                        <li>A doer can change the task status from 'my-task' panel</li>
                  </ul>
                  </li>
                  <li>
                        <li class="rounded"><span class="badge text-dark" style="font-size:14px; background-color:rgb(209, 172, 124)">Limitation/Missings: </span></li>

                  <ul>
                        <li>Due date, assigned date, and completion date should not be text. To be updated soon</li>
                        <li>Scope for update of a rofile over invitation link if the user is already existing </li>
                  </ul>
                  </li>
            </ul>
            <!--end col-2 -->
      </div>
      <!--end row -->
</div>
