<div class="container row mt-5 d-flex justify-content-around mx-auto" style="min-height: 480px;">
      <div class="col-md-5 pb-4 col-sm-10 col-12">
            <span class="badge bg-success bg-opacity-25 d-block text-center mb-2 text-muted rounded">User Log in</span>
            <span class="fw-bold text-success" id="id_msg">
                  <%=msg%>
            </span>
            <form action="/auth/signin" method="POST" id="id_signin_form">
                  <div class=" form-group my-3  ">
                        <label for="idemail" class=" float-start ">Email</label>
                        <input type="email" name="username" required id="idemail" class=" form-control text-center "
                              placeholder=" Enter email " value="<%=typeof email!='undefined' ? email : ''%>" />
                  </div>
                  <div class=" form-group mb-2  ">
                        <label for=" password " class=" float-start  ">Password</label> <input type=" password "
                              name="password" id="idpass" required class=" form-control text-center "
                              placeholder=" Password ? " value="<%=typeof password !='undefined' ? password : ''%>" />
                  </div>
                  <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-sm fw-bold bg-success bg-opacity-50 mt-2 rounded w-50  ">
                              Login </button>
                  </div>
            </form>
      </div>
      <div class="col-md-5 col-sm-10 col-12">
            <h6>Test credentials</h6>
            <ul>
                  <span class="  rounded-pill bg-success bg-opacity-25"> Admin </span>
                  <li>Email: <span class="ms-2 text-success fw-bold">masumkhan081@gmail.com</span></li>
                  <li>Password:<span class="ms-2 text-success fw-bold">p123456</span><button
                              class="ms-2 btn btn-sm py-0 bg-dark text-warning"
                              onclick="set_and_login(`masumkhan081@gmail.com`,`p123456`)">set and login</button></li>
            </ul>
            <ul>
                  <span class="  rounded-pill bg-success bg-opacity-25"> Team Leader/ Project Manager </span>
                  <li>Email: <span class="ms-2 text-success fw-bold">study.contents.of.masumkhan@gmail.com </span></li>
                  <li>Password:<span class="ms-2 text-success fw-bold">p123456</span><button
                              class="ms-2 btn btn-sm py-0 bg-dark text-warning"
                              onclick="set_and_login(`study.contents.of.masumkhan@gmail.com`,`p123456`)">set and
                              login</button>
                  </li>
            </ul>
            <ul>
                  <span class="  rounded-pill bg-success bg-opacity-25"> Team Member/ Doer </span>
                  <li>Email: <span class="ms-2 text-success fw-bold">masum498673@gmail.com</span></li>
                  <li>Password:<span class="ms-2 text-success fw-bold">p123456</span><button
                              class="ms-2 btn btn-sm py-0 bg-dark text-warning"
                              onclick="set_and_login(`masum498673@gmail.com`,`p123456`)">set and login</button></li>
            </ul>
      </div>
      <script>

            function set_and_login(email, pass) {
                  document.getElementById("idemail").value = email
                  document.getElementById("idpass").value = pass
                  document.getElementById("id_signin_form").submit();
            }

            setTimeout(() => {
                  const idmsg = "id_msg";
                  document.getElementById(idmsg).innerHTML = ""
            }, 4000)
      </script>
</div>
