<div class="container text-start mh-100 pt-5 d-flex flex-column justify-content-start gap-4" style="min-height: 480px;">
      <span class="mt-5 fw-bold fs-6">
            <%=msg%>
      </span>
      <span>Back to <a href="/user/team-leaders">Employee</a> Page </span>
      <span>See <a href="/tasks/allocated-tasks">All Tasks </a>assigned by you </span>
</div>
