<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <title>API Auth</title>
    <style>
        body {
            text-align: center;
            background-color: rgb(228, 243, 204);
        }
    </style>
</head>

<body>

    <div class="row ps-4 pt-2 bg-success bg-opacity-25">
        <div class="col-md-3">
            <ul class=" rounded list-unstyled d-flex text-center ps-2 flex-column align-content-between ">
                <li class="rounded text-success pb-1 mb-1 ">
                    <i class="fas fa-hand-point-right "></i><i> Whats Been Used:</i>
                </li>
                </li>
                <li class="bg-info bg-opacity-25 rounded-circle mb-1">PostgreSQL + pg</li>
                <li class="bg-primary bg-opacity-25 rounded-circle mb-1"> Express </li>
                <li class="bg-danger bg-opacity-25 rounded-circle mb-1">express-ejs-layouts </li>
            </ul>
        </div>
        <div class="col-md-7  ">
            <ul class=" rounded d-flex text-start ps-5 flex-column align-content-between ">
                <li class="rounded text-center text-success pb-1 list-unstyled ">
                    <i class="fas fa-hand-point-right "></i><i> Read me !</i>
                </li>
                <li>Sign up with passport local strategy </li>
                <li>Or go to sign in page for sign in options </li>
                <li>click download to test auth. if user authenticated, a file would be available for download</li>
            </ul>
        </div>
    </div>
    <div class="d-flex justify-content-evenly text-decoration-none pe-5" style="background-color: rgb(3, 51, 53);">
        <div class="col-md-2 ps-1 me-auto">
            <a href="/" class="btn-sm text-decoration-none text-info"> <i class="fa fa-home "></i> <strong> Task Manager</strong></a>
        </div>
        <a href="/add " class="btn-sm btn-outline-light text-decoration-none">Tasks</a>
        <a href="/edit " class="btn-sm btn-outline-warning text-decoration-none ">Task Groups</a>
        <span><i class="fa fa-arrow-right text-success" aria-hidden="true"></i> </span>
        <a href="/addtask" class="btn-sm btn-outline-success text-decoration-none"><i class="fa fa-plus-circle" aria-hidden="true"></i>Task</a>
        <a href="/add " class="btn-sm btn-outline-info text-decoration-none">New Task</a>
        <a href="/add " class="btn-sm btn-outline-info text-decoration-none">New Task</a>
    </div>
    <div>
        <%- body %>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js "></script>
</body>

</html>