<div class="row p-5 d-flex justify-content-center bg-success bg-opacity-25">
    <form action="" class="bg-info rounded  col-md-7">

        <div class="row mb-3">
            <label for="taskname " class="text-start col-md-4 d-inline">Task Name</label>
            <input type="text " name="taskname " class="col-md-8 form-control-sm  rounded">
        </div>

        <div class="row bg-danger mb-3">
            <label for="taskname " class="text-start col-md-4 d-inline">Mark priority:</label>
            <div class="col-md-8 bg-success d-flex float-start">
                <div class="me-3">
                    <input type="radio" name="priority " value="1">
                    <label for="priority">1</label></div>
                <div class="me-3">
                    <input type="radio" name="priority " value="1">
                    <label for="priority">2</label>
                </div>
                <div class="me-3">
                    <input type="radio" name="priority " value="1">
                    <label for="priority">3</label>
                </div>
            </div>
        </div>
        <div class="row bg-info mb-3">
            <label for="taskname " class="text-start col-md-4 d-inline">Status:</label>
            <div class="col-md-8 bg-success d-flex float-start">
                <div class="form-check me-3">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Done
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                    <label class="form-check-label" for="flexRadioDefault2">
                      Not Done
                    </label>
                </div>
            </div>
        </div>
        <div class="row bg-info mb-3">
            <label for="targetdate " class="text-start col-md-4 d-inline">Target Date:</label>
            <div class="col-md-8 bg-success   ">
                <input type="date" name="targetdate" class="float-start">
            </div>
        </div>


    </form>

</div>